---
import Layout from "../layouts/Layout.astro";
import PullUp from "../components/Exercises/PullUp";
import PushUp from "../components/Exercises/PushUp";
import ExerciseContainer from "../components/ExerciseContainer.astro";
import { ExerciseType } from "../utils/ExerciseType";
import Exercise from "../components/Exercises/Exercise";
---

<Layout>
    <div class="mt-8 flex flex-wrap justify-center gap-8">
        <ExerciseContainer>
            <Exercise
                title="Pull Up! My favorite!!!"
                exercise={ExerciseType.PULL_UP}
                timer={false}
                client:load
            />
        </ExerciseContainer>
        <ExerciseContainer>
            <Exercise
                title="Push it Up!"
                exercise={ExerciseType.PUSH_UP}
                timer={false}
                client:load
            />
        </ExerciseContainer>
        <ExerciseContainer>
            <Exercise
                title="Dippity dip"
                exercise={ExerciseType.DIP}
                timer={false}
                client:load
            />
        </ExerciseContainer>
        <ExerciseContainer>
            <Exercise
                title="☠ hang"
                exercise={ExerciseType.DEAD_HANG}
                reps={false}
                client:load
            />
        </ExerciseContainer>
        <ExerciseContainer>
            <Exercise
                title="Burpies"
                exercise={ExerciseType.BURPIES}
                timer={false}
                client:load
            />
        </ExerciseContainer>
    </div>
</Layout>
